export("%<>%")
export("%>%")

export(`wrappers.compute_hia_two_images`)
S3method(`wrappers.compute_hia_two_images`, default)
S3method(`wrappers.compute_hia_two_images`, character)

exportPattern("^[[:alpha:]]|\\%+")

importFrom(RColorBrewer,brewer.pal)

importFrom(creahelpers,sel)

importFrom(dplyr,all_vars)
importFrom(dplyr,any_vars)
importFrom(dplyr,arrange)
importFrom(dplyr,as_tibble)
importFrom(dplyr,bind_rows)
importFrom(dplyr,collect)
importFrom(dplyr,distinct)
importFrom(dplyr,do)
importFrom(dplyr,everything)
importFrom(dplyr,filter)
importFrom(dplyr,filter_at)
importFrom(dplyr,group_by)
importFrom(dplyr,group_by_at)
importFrom(dplyr,inner_join)
importFrom(dplyr,left_join)
importFrom(dplyr,mutate)
importFrom(dplyr,mutate_all)
importFrom(dplyr,mutate_at)
importFrom(dplyr,mutate_if)
importFrom(dplyr,pull)
importFrom(dplyr,relocate)
importFrom(dplyr,rename)
importFrom(dplyr,rowwise)
importFrom(dplyr,select)
importFrom(dplyr,summarise)
importFrom(dplyr,summarise_at)
importFrom(dplyr,summarise_all)
importFrom(dplyr,tibble)
importFrom(dplyr,ungroup)
importFrom(dplyr,vars)

importFrom(foreach, foreach)
importFrom(foreach, "%dopar%")

importFrom(glue, glue)

importFrom(ggspatial,annotation_spatial)
importFrom(ggspatial,layer_spatial)

importFrom(gstat,idw)

importFrom(logger, log_info)

importFrom(lubridate,"hour<-")
importFrom(lubridate,day)
importFrom(lubridate,hour)
importFrom(lubridate,month)
importFrom(lubridate,year)
importFrom(lubridate,ymd)
importFrom(lubridate,ymd_h)

importFrom(magrittr,"%<>%")
importFrom(magrittr,"%>%")
importFrom(magrittr,"%T>%")
importFrom(magrittr,add)
importFrom(magrittr,divide_by)
importFrom(magrittr,multiply_by)
importFrom(magrittr,set_names)
importFrom(magrittr,subtract)
importFrom(magrittr,use_series)

importFrom(plyr,.)
importFrom(plyr,ddply)
importFrom(plyr,dlply)
importFrom(plyr,ldply)

importFrom(raster,"crs<-")
importFrom(raster,"values<-")
importFrom(raster,aggregate)
importFrom(raster,area)
importFrom(raster,crs)
importFrom(raster,crop)
importFrom(raster,extend)
importFrom(raster,extent)
importFrom(raster,extract)
importFrom(raster,focal)
importFrom(raster,focalWeight)
importFrom(raster,raster)
importFrom(raster,rasterize)
importFrom(raster,resample)
importFrom(raster,stack)
importFrom(raster,values)
importFrom(raster,projectExtent)
importFrom(raster,projectRaster)

importFrom(rasterVis,levelplot)
importFrom(rasterVis,rasterTheme)

importFrom(readr,read_csv)
importFrom(readr,cols)

importFrom(readxl,read_xlsx)

importFrom(reshape2,colsplit)

importFrom(rlang, `%||%`)

importFrom(sp,CRS)
importFrom(sp,SpatialPointsDataFrame)
importFrom(sp,coordinates)
importFrom(sp,spTransform)
importFrom(sp,proj4string)

importFrom(terra,rast)
importFrom(terra,extract)
importFrom(terra,extend)
importFrom(terra,project)

importFrom(tidyr,gather)
importFrom(tidyr,separate)
importFrom(tidyr,spread)
importFrom(tidyr,pivot_longer)
importFrom(tidyr,pivot_wider)

importFrom(zoo,na.approx)
importFrom(zoo,na.fill)
